@font-face {
    font-family: 'Lexend Deca';
    src: url('fonts/LexendDeca-Regular.eot');
    src: url('fonts/LexendDeca-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/LexendDeca-Regular.woff2') format('woff2'),
        url('fonts/LexendDeca-Regular.woff') format('woff'),
        url('fonts/LexendDeca-Regular.ttf') format('truetype'),
        url('fonts/LexendDeca-Regular.svg#LexendDeca-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    src: url('fonts/MaterialIcons-Regular.eot');
    src: url('fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('fonts/MaterialIcons-Regular.woff') format('woff'),
        url('fonts/MaterialIcons-Regular.ttf') format('truetype'),
        url('fonts/MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

