@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    font-family: 'Lexend Deca', sans-serif;
}
table {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
body {
    text-align: center;
}
p {
    font-size: x-large;
}
.spacer {
    color: rgba(0, 0, 0, 0)
}
input {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 20px;
    padding: 5px 5px;
}
.out {
    background-color: rgb(190, 190, 190);
}
button {
    margin: 5px 5px;
    background-color: lightblue;
    border-width: 0;
    border-radius: 20px;
}