@import url('/fonts/stylesheet.css');
* {
    font-family: 'Lexend Deca', sans-serif;
}
table {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
body {
    text-align: center;
    background-color: #1e1e1e;
    color: #d4d4d4;
}
p {
    font-size: x-large;
}
.spacer {
    color: rgba(0, 0, 0, 0)
}
input {
    background-color: rgb(192, 192, 192);
    color: black;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    padding: 5px 5px;
}
.out {
    background-color: rgb(134, 134, 134);
}
button {
    margin: 5px 5px;
    background-color: lightblue;
    border-width: 0;
    border-radius: 20px;
}