.text-warning {
  color: darkorange !important;
}
h4.card-title {
  color: navy;
}
.colorw {
  background: #FFF !important;
}
.color3 {
  background: #F3F5F6 !important;
}
a.color3:hover {
  background: #E1EBCB  !important;
}
a.active3 {
  background: #E1EBCB  !important;
}
.color4 {
  background: #FFFEE6  !important;
}
a.color4:hover {
  background: #DAB55E  !important;
}
a.active4 {
  background: #DAB55E  !important;
}
.color5 {
  background: #FEF3DC  !important;
}
a.color5:hover {
  background: #FCDEAA  !important;
}
a.active5 {
  background: #FCDEAA  !important;
}
.color6 {
  background: #F5F0FF !important;
}
a.color6:hover {
  background: #CBB2FF  !important;
}
a.active6 {
  background: #CBB2FF  !important;
}
.color7 {
  background: #F4F8F1 !important;
}
a.color7:hover {
  background: #CAD7C2  !important;
}
a.active7 {
  background: #CAD7C2  !important;
}
.color8 {
  background: #E7ECFF !important;
}
a.color8:hover {
  background: #A0CDFF  !important;
}
a.active8 {
  background: #A0CDFF  !important;
}
.color9 {
  background: #FDE7FF !important;
}
a.color9:hover {
  background: #D5B0D9  !important;
}
a.active9 {
  background: #D5B0D9 !important;
}
.colorm {
  background: #fcedec !important;
}
a.colorm:hover {
  background: #DFBCBB  !important;
}
a.activem {
  background: #DFBCBB  !important;
}
.colora {
  background: #F0F6FD !important;
}
a.colora:hover {
  background: #B9D4F1  !important;
}
a.activea {
  background: #B9D4F1  !important;
}
.coloro {
  background: #BCD5F2 !important;
}
a.coloro:hover {
  background: #B9D4F1  !important;
}
a.activeo {
  background: #B9D4F1  !important;
}
.colorl {
  background: #F0F5E6  !important;
}
a.colorl:hover {
  background: #B9D4F1  !important;
}
a.activel {
  background: #B9D4F1  !important;
}
.colorx {
  background: #E8EFFA !important;
}
a.colorx:hover {
  background: #B9D4F1  !important;
}
a.activex {
  background: #B9D4F1  !important;
}
.colory {
  background: #FAEAE8 !important;
}
.colory a {
  color: navy  !important;
  text-decoration: underline;
}
.colory a:hover {
  color: navy  !important;
}
.color3d {
  background: #f3f5f6 url('../images/q/s/3.png') no-repeat bottom right !important;
  background-size: 60px !important;
}
.color4d {
  background: #fffee6 url('../images/q/s/4.png') no-repeat bottom right !important;
  background-size: 70px !important;
}
.color5d {
  background: #fef3dc url('../images/q/s/5.png') no-repeat bottom right !important;
  background-size: 70px !important;
}
.color6d {
  background: #f5f0ff url('../images/q/s/6.png') no-repeat bottom right !important;
  background-size: 75px !important;
}
.color7d {
  background: #f4f8f1 url('../images/q/s/7.png') no-repeat bottom right !important;
  background-size: 70px !important;
}
.color8d {
  background: #e7ecff url('../images/q/s/8.png') no-repeat bottom right !important;
  background-size: 70px !important;
}
.color9d {
  background: #fde7ff url('../images/q/s/9.png') no-repeat bottom right !important;
  background-size: 70px !important;
}
.colormd {
  background: #fcedec url('../images/q/s/mat.png') no-repeat bottom right !important;
  background-size: 70px !important;
}
.colorad {
  background: #f0f6fd url('../images/q/s/s.png') no-repeat bottom right !important;
  background-size: 55px !important;
}
.colorkd {
  background: #f0f6fd url('../images/q/s/k.png') no-repeat bottom right !important;
  background-size: 80px !important;
}
.colorld {
  background: #f0f5e6 url('../images/q/s/anglictinasm.png') no-repeat bottom right !important;
  background-size: 78px !important;
}
.colorzd {
  background: #e4eefa url('../images/q/s/howtochoose.png') no-repeat bottom right !important;
  background-size: 60px !important;
}
.colorrd {
  background: #e4eefa url('../images/q/s/timetable.png') no-repeat bottom right !important;
  background-size: 75px !important;
}
.div-box-light {
  background-color: #ffefa9;
  box-shadow: 2px 2px #c2c2c2;
}
.div-box-lighter {
  background-color: #fafafe;
  box-shadow: 2px 2px #c2c2c2;
}
.div-box-dark {
  background-color: #c2c2c2;
  box-shadow: 2px 2px #c2c2c2;
}
.div-box-neutral {
  background-color: #efefef;
  box-shadow: 2px 2px #c2c2c2;
}
.div-box-border-shadow {
  border: solid 1px #AAA;
  box-shadow: 2px 2px #DDD;
}
.div-box-border-shadow-light {
  border: solid 1px #DEDEDE;
  box-shadow: 1px 1px #EDEDED;
}
.alert {
  font-size: 1.2em;
  margin-top: 20px;
  padding: 20px;
  clear: both;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
body {
  background: #faf4e8;
  color: #222222;
  margin: 0 auto;
  font-family: Verdana, Segoe, sans-serif;
}
body > div {
  background: #fafafe;
}
#lightbox {
  background: transparent;
}
/*a {color: @font-color-main;}*/
/*a:visited { color: @font-color-main;}*/
p a,
table a {
  text-decoration: underline;
}
a:hover {
  color: #aaaa99;
  text-decoration: none;
}
label {
  font-weight: normal;
}
label.required {
  font-weight: bold;
}
.btn {
  text-decoration: none;
}
.btn-zkn {
  color: #222222 !important;
  background: #ffefa9 linear-gradient(#ffefa9, #ffe15c);
}
.btn-zkn:hover {
  color: #222222 !important;
  background: #ffefa9 linear-gradient(#ffefa9, #ffe98a);
}
.btn-primary {
  background: #3c7ed6 linear-gradient(#3c7ed6, #296ac1);
}
.btn-primary:hover {
  background: #3c7ed6 linear-gradient(#3c7ed6, #518cda);
}
.btn-success {
  background: #28a745 linear-gradient(#29ac07, #208505);
}
.btn-success:hover {
  background: #28a745 linear-gradient(#28a745, #23923c);
}
.btn-info {
  background: #17a2b8 linear-gradient(#17a2b8, #128294);
}
.btn-info:hover {
  background: #17a2b8 linear-gradient(#17a2b8, #148ea1);
}
.btn-danger {
  background: #dc3545 linear-gradient(#dc3545, #c62232);
}
.btn-danger:hover {
  background: #dc3545 linear-gradient(#dc3545, #d32535);
}
.btn-warning {
  background: #ffc107 linear-gradient(#ffc107, #dda600);
}
.btn-warning:hover {
  background: #ffc107 linear-gradient(#ffc107, #ecb100);
}
#style-pupilAdd input[type="submit"] {
  font-size: 0.9em !important;
  color: #3C7ED6 !important;
  text-decoration: underline !important;
  background: none !important;
  border: none !important;
}
#style-pupilAdd input[name="save"] {
  font-size: 1.2em !important;
  color: white !important;
  text-decoration: none !important;
  background: #3c7ed6 linear-gradient(#3c7ed6, #296ac1) !important;
}
#frm-switch select,
#frm-switch input,
#frm-pupilPick label,
#frm-pupilPick select,
#frm-pupilPick input {
  display: inline-block !important;
}
#frm-switch select,
#frm-pupilPick select {
  width: inherit;
  min-width: 10em;
}
#frm-switch input[type="submit"],
#frm-pupilPick input[type="submit"] {
  margin-bottom: .22rem;
}
#frm-switch label {
  display: none;
}
#frm-switch {
  display: inline-block;
}
.products-list-head {
  margin: 0 0 10px 0 !important;
}
.font-8 {
  font-size: 0.8em !important;
}
.underline {
  text-decoration: underline;
}
h1 {
  font-size: 1.2em !important;
  line-height: 1.7em !important;
}
h2 {
  font-size: 1.1em;
  text-align: left;
  color: #000099;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 1.1em;
  text-align: left;
  padding: 0.5em 0.25em 0.5em 0em;
  color: #000099;
  font-weight: bold;
}
h4 {
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: center;
  padding: 3px 10px;
  color: #222222;
  font-weight: bold;
}
h2.card-title {
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: center;
  padding: 3px 8px;
  color: #222222;
  font-weight: bold;
}
a h2.card-title {
  color: navy;
  text-decoration: underline;
  font-weight: bold;
}
.card a h3 {
  font-size: 1.0em !important;
  color: navy;
  text-decoration: underline;
  font-weight: bold;
  padding: 0 !important;
  margin: 0 !important;
}
.card li a h3 {
  display: inline;
}
h3 a:hover,
h4 a:hover {
  text-decoration: underline;
}
.card {
  border: solid 1px #ccc !important;
}
.card-noborder {
  border: 0px  !important;
}
.card ul {
  margin: 0 1.2em;
  padding: 0;
}
.card li {
  margin-top: 0.3em;
}
.card-footer,
.card-body {
  background: transparent  !important;
  border: none !important;
}
.card-footer a {
  color: #497FD9;
}
.badge {
  color: #323232 !important;
}
.badge-dark {
  background: #ffffeb;
}
.badge-success {
  background: #fadafb;
}
.badge-danger {
  background: #fbdada;
}
.badge-warning {
  background: #f5fbda;
}
.badge-info {
  background: #d2e1f8;
}
.badge-primary {
  background: #edd2f8;
}
.badge-secondary {
  background: #daf0da;
}
.badge-light {
  background: #fbfbfb;
}
.mainsmallbox .card-body {
  padding: 0.8em 0.7em 0.5em 0.7em ;
}
.mainsmallbox .card-title {
  padding: 0em 0.7em 0.6em 0.7em ;
}
.mainsmallbox .card-text {
  padding-right: 65px;
  font-size: 0.9em;
}
.border-bottom-strong {
  border-bottom: solid 1px #3C7ED6;
}
.cart a {
  width: 100%;
  display: block;
  color: white;
  background: #2965CC;
  padding: .1rem .6rem !important;
  margin: .4rem .0rem !important;
  border-radius: 3px;
}
.cart a:hover {
  background-color: navy;
}
.ico-collapsed {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
.login-ico-collapsed {
  background: url('../images/ico/40/login-ico-collapsed.png') no-repeat;
}
.user-ico-collapsed {
  background: url('../images/ico/40/user-ico-collapsed.png') no-repeat;
}
.basket-ico-collapsed {
  background: url('../images/ico/40/basket-ico-collapsed.png') no-repeat;
}
.products-ico-collapsed {
  background: url('../images/ico/40/products-ico-collapsed.png') no-repeat;
}
.btn-collapsed-text {
  font-size: 0.8em;
}
a.login {
  color: #aaaa99 !important;
  text-decoration: underline;
}
a.login:hover {
  color: #b20b00 !important;
  text-decoration: underline !important;
}
.nav-tabs .nav-link {
  text-decoration: underline;
  font-size: 1.1em;
  font-weight: bold;
}
.nav-tabs .nav-link.active {
  text-decoration: none;
}
.items-count {
  font-size: 1em;
  color: #aaaa99;
}
.btn-mobile {
  font-size: 0.6em;
  color: #fefefe !important ;
  border: solid 1px #fefefe !important;
  background: #3C7ED6;
  padding-top: 35px !important;
  width: 50px;
  height: 55px;
  background-size: 25px 25px !important;
}
#bluebox {
  padding-top: 3px;
  background: #3C7ED6;
}
#bluebox a {
  color: black;
  text-align: center;
  margin-bottom: 2px;
}
header.comment-admin {
  background: linear-gradient(#ffefa9, #ffeb95);
}
.summary {
  padding: 2em;
  margin-top: 1em;
}
.summary h3 {
  margin: 0.5em 0;
  font-size: 1.4em;
}
.summary img {
  margin: 0.5em auto;
  display: block;
}
.total {
  font-size: 1.5em;
  font-weight: bold;
}
.totalline {
  padding-top: 2em;
  border-top: solid 1px #222222;
}
.cart-tools input {
  padding: 1em;
  color: #222222;
  text-decoration: underline;
}
.cart-tools input:hover {
  color: #b20b00;
  text-decoration: underline;
}
.btn-order {
  width: 100%;
  height: 3.6em;
  border: solid 1px #222222;
}
#cart td.img {
  text-align: center;
}
#orderprogress {
  font-size: 0.9em;
  margin: 1em 0;
}
#orderprogress .current {
  color: #222222 !important;
  background: #ffefa9 linear-gradient(#ffefa9, #ffe15c);
}
#orderprogress a {
  text-decoration: underline;
}
#summary-address {
  padding: 0 1em;
}
.icontext img {
  margin: 1em 2em;
}
.tw-cnt .table th {
  background: none;
}
.tw-cnt .warning td.body-cell {
  color: #b20b00;
  background: none;
  text-align: center;
  font-weight: bold;
}
.card {
  border: 0;
  background: none;
}
.card-body {
  border: solid 1px #eee;
  background: #fefefe;
}
img.card-img-top {
  width: 90px;
  height: 90px;
  margin: 0em auto 0 auto;
}
.text-smaller {
  font-size: 0.8em;
}
#bottom a {
  text-decoration: none;
  color: maroon;
}
#bottom div {
  padding-top: 1em;
}
#bottom li {
  list-style-type: none;
  padding-top: 3px;
}
/*XXS Iphone SE*/
@media (max-width: 321px) {
  body {
    font-size: 10.4px !important;
  }
  .table {
    font-size: 10.4px !important;
  }
  .input-sm {
    height: 27px;
  }
  .btn-sm,
  .form-control-sm {
    height: 27px;
  }
  .btn-sm,
  .form-control-sm {
    font-size: 12px;
  }
}
/* XS */
@media (max-width: 768px) {
  .small-sm {
    font-size: 0.9em;
  }
  #navigationbox .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }
  #main {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  #mainrow {
    margin: 0;
    width: 100%;
  }
  h1 {
    font-size: 1.1em !important;
  }
  h2 {
    font-size: 1.1em;
  }
  .index-text {
    font-size: 1em;
  }
  #top {
    padding-top: 1em;
  }
  #logobox {
    width: 100%;
  }
  .text-xs-smaller {
    font-size: 0.8em;
  }
  #bluebox.topcolora {
    border-bottom: solid 5px #e95017;
  }
  #bluebox.topcolor3 {
    border-bottom: solid 5px #6A9900;
  }
  #bluebox.topcolor4 {
    border-bottom: solid 5px #765100;
  }
  #bluebox.topcolor5 {
    border-bottom: solid 5px #CA9521;
  }
  #bluebox.topcolor6 {
    border-bottom: solid 5px #5B3E9B;
  }
  #bluebox.topcolor7 {
    border-bottom: solid 5px #5F8745;
  }
  #bluebox.topcolor8 {
    border-bottom: solid 5px #36349B;
  }
  #bluebox.topcolor9 {
    border-bottom: solid 5px #820F8B;
  }
  #bluebox.topcolorm {
    border-bottom: solid 5px #9F322D;
  }
  body {
    font-size: 15.6px;
  }
  .icontext img {
    display: block;
    margin: 2em auto 0.2em auto;
  }
  .icontext {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .input-sm {
    height: 39px;
  }
  .summary .order-button {
    height: 43.2px;
  }
  .table {
    font-size: 13px;
  }
  p.product-about {
    padding-top: 1em;
    height: auto;
  }
  .product h2 {
    font-size: 1em;
    line-height: 1.2em;
  }
  .product .price {
    font-size: 1.3em;
    padding: 0 0 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .product .vat {
    font-size: 0.6em;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
  }
  .thumbmargin {
    padding: 2em;
  }
  .btn-buy {
    width: 100% !important;
  }
  .nav-tabs .nav-link {
    border: none !important;
    font-size: 0.8em;
  }
  #frm-search-text {
    width: 80%;
    left: 0%;
    display: block;
    position: absolute;
  }
  #frm-search button {
    width: 10%;
    left: 80%;
    display: block;
    position: absolute;
  }
}
/* SM */
@media (min-width: 769px) {
  body {
    font-size: 15.6px;
  }
  h1 {
    font-size: 1.1em !important;
  }
  .input-sm {
    height: 36px;
  }
  .summary .order-button {
    height: 43.2px;
  }
  .table {
    font-size: 15.6px;
  }
  p.product-about {
    padding-top: 0.5em;
    height: 8em;
  }
  #navbarheader button,
  #navbarheader a {
    width: 6%;
  }
  #top {
    padding-top: 0em;
  }
  #navbarToggler2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #navbarToggler2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #logobox {
    width: 100%;
  }
  #bluebox a {
    font-size: 0.7em;
    width: 60px;
    height: 60px;
    padding: 19px 0 0 0;
    display: inline-block;
    border-radius: 50%;
    margin: 0 1.5% 10px  0px;
    box-shadow: -1px -1px 0 0 #aaaaaa;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
  }
  #bluebox a:hover {
    box-shadow: -1px -1px 0 0 #444444;
    border: solid 1px #888;
  }
  #bluebox.topcolora {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #e95017 41%, #e95017 52%, #fafafe 52%, #fafafe);
  }
  #bluebox.topcolor3 {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #6a9900 41%, #6a9900 52%, #fafafe 52%, #fafafe);
  }
  #bluebox.topcolor4 {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #765100 41%, #765100 52%, #fafafe 52%, #fafafe);
  }
  #bluebox.topcolor5 {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #ca9521 41%, #ca9521 52%, #fafafe 52%, #fafafe);
  }
  #bluebox.topcolor6 {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #5b3e9b 41%, #5b3e9b 52%, #fafafe 52%, #fafafe);
  }
  #bluebox.topcolor7 {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #5f8745 41%, #5f8745 52%, #fafafe 52%, #fafafe);
  }
  #bluebox.topcolor8 {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #36349b 41%, #36349b 52%, #fafafe 52%, #fafafe);
  }
  #bluebox.topcolor9 {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #820f8b 41%, #820f8b 52%, #fafafe 52%, #fafafe);
  }
  #bluebox.topcolorm {
    background: linear-gradient(to bottom, #3c7ed6, #3c7ed6 41%, #9f322d 41%, #9f322d 52%, #fafafe 52%, #fafafe);
  }
  .contact-md {
    font-size: 0.9em;
  }
  .btn-mobile {
    position: absolute;
    top: 15px;
    z-index: 2;
  }
  .card-deck-wrapper {
    margin-right: 0;
    margin-left: 0;
  }
  .card-deck {
    display: flex;
    width: 100%;
    margin-bottom: .75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
  }
  .card-deck .card {
    display: flex;
    flex: 1 0 30%;
    margin-bottom: .75rem;
    vertical-align: top;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 0px;
  }
  #div-search {
    width: 100%;
    height: 40px;
  }
  #frm-search button {
    width: 10%;
    left: 50%;
    display: block;
    position: absolute;
  }
  #frm-search-text {
    width: 50%;
    left: 0%;
    display: block;
    position: absolute;
  }
  #frm-search-text:focus {
    width: 250%;
    left: -200%;
    display: block;
    position: absolute;
  }
}
/* SM cards*/
@media (min-width: 576px) {
  .card-deck .card {
    display: flex;
    flex: 1 0 40%;
    margin-bottom: .75rem;
    vertical-align: top;
  }
}
/* LG */
@media (min-width: 992px) {
  body {
    font-size: 13px;
  }
  .right-adv {
    max-width: 45%;
    float: right;
  }
  .input-sm {
    height: 21px;
    font-size: 11.2px;
  }
  .summary .order-button {
    height: 36px;
  }
  .table {
    font-size: 13px;
  }
  .userdatafrm input[type="text"],
  .userdatafrm input[type="email"],
  .userdatafrm input[type="password"] {
    width: 60%;
  }
  p.product-about {
    height: 6em;
  }
  h1 {
    font-size: 1.6em !important;
  }
  #logobox {
    width: inherit;
  }
  #bluebox a {
    font-size: 0.9em;
    width: 65px;
    height: 65px;
    padding: 22px 0 0 0;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2% 5px  0px;
    box-shadow: -1px -1px 0 0 #aaaaaa;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
  }
  #bluebox a:hover {
    box-shadow: -1px -1px 0 0 #444444;
    border: solid 1px #888;
  }
  #tagbox {
    padding-right: 12em;
  }
  .card-deck .card {
    display: flex;
    flex: 1 0 15%;
    margin-bottom: .75rem;
    vertical-align: top;
  }
  #div-search {
    width: 100%;
    height: 40px;
  }
  #frm-search button {
    width: 10%;
    left: 50%;
    display: block;
    position: absolute;
  }
  #frm-search-text {
    width: 50%;
    left: 0%;
    display: block;
    position: absolute;
  }
  #frm-search-text:focus {
    width: 250%;
    left: -200%;
    display: block;
    position: absolute;
  }
  .contact-md {
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  #logobox {
    margin-right: 15% !important;
  }
}
.table-homepage td,
.table-homepage th {
  vertical-align: middle !important;
  border: none !important;
}
tr.success td {
  background: lightyellow;
  font-weight: bold;
}
.answer-correct {
  color: green;
}
.answer-wrong {
  color: darkred;
}
.answer-correction {
  color: darkblue;
}
input[type="radio"] {
  margin-right: 0.5em;
}
.text-multiselect {
  line-height: 1.9em;
  vertical-align: bottom;
}
.alert-additional {
  color: black;
  background-color: #E3EEDC;
  border-color: #B6BEB0;
}
.taskbox {
  width: 100% !important;
  margin: 0.5em 0 2.5em 0;
  padding-bottom: 0.8em;
  border-bottom: solid 2px cornflowerblue;
}
.taskbox h4 {
  text-align: left;
}
.taskbox label {
  display: inline;
}
.taskbox table {
  display: inline-table;
}
.task-position {
  font-size: 2em;
  color: #337ab7;
  margin-right: 0.3em;
}
.text-short {
  width: 60px !important;
}
.text-middle {
  width: 60px !important;
}
.group-name {
  margin-top: 1.5em;
}
.test-name {
  text-align: center;
  margin-bottom: 1.5em;
}
.sollution-text {
  margin: 0.5em 0 0.2em 0;
}
.sollution-box {
  margin: 0.1em 0 0.2em 0;
}
.sollution-box img,
.taskbox img {
  object-fit: scale-down;
  max-width: 100%;
  height: auto;
}
.sollution-box table {
  border-collapse: collapse;
}
.sollution-box table td {
  padding: 0.2em 0.5em;
  border: solid 1px gray;
}
#frm-solutionForm-text {
  width: 100%;
  height: 30em;
}
/*# sourceMappingURL=screen.css.map */